.assignement-frm{
    background-image: url('..//..//../images//assignement_frm_bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
    height:900px;
    background-size: 300px;
    background-position-x: 94%;
}

/* assignement view page css */

.btn-assignement-view{
    font-size: 16px;
    font-weight: bold;
    color: #B52B65;
}
.btn-assignement-view:hover{
    color:#00509d;
}
.assignement-list-table{
    margin: auto !important;
}
.teacher-assignement-tbl-row{
    background-color: #22577a;
    color: #fff;
}
.assignement-tbl-tbody:hover{
    background-color: #eaeaea;
}


/* single assignement post page css */

.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}