.bg-dark{
    background-color: transparent !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #848484;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #006d77;
    color: #fff;
}
.active-link{
    color: #006d77 !important;
    font-size: 20px;
}
.logo-img{
    height:50px;
}
.btn-home-login {
    background-color: #FF8A3C;
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s;
  }
  .btn-home-login:hover {
    border: 1px solid transparent;
    background: #E56B6F;
    color: #fff;
  }
.line{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 70px;

    /* Harvest pink */
    border: 1px solid #006d77;
}
.navbar-brand{
    margin-left: 40px;
}
.nav-simba-title{
    margin-top: 15px;
    margin-left: 10px;
}
.nav-simba-title .title-slogan{
    color:#6d6875;
}
.nav-simba-title .title-name{
   font-weight: bold;
   font-size: 24px;
   font-family: 'Texturina', serif;
   color:#000;
  }
.navbar-nav{
    flex: none;
    order: 0;
    margin-left: 62%;
}
.navbar-toggler {
    background-color: #006d77 !important;
    border: 1px solid #006d77 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
}
.fa-facebook-f{
    color:#A0D368;
}
.fa-twitter{
    color:#FFCE54;
}
.fa-google-plus-g{
    color:#E56B6F;
}
.fa-linkedin-in{
    color:#826AED;
}
.fa-instagram{
    color:#4FC0E9;
}
.fab:hover{
    font-size: -webkit-xxx-large;
}

@media (min-width:801px) {
    .navbar-nav{
        margin-left: 48%;
    }
}
@media (min-width:1300px) {
    .navbar-nav{
        margin-left: 62%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1334px;
    }
    .line{
        width: 1990px;
    }
}
@media (max-width:992px)  { 
    .nav-simba-title{
        display: none;
    }
}  