@import "./Components/auth/loginPage.css";
@import "./Components/layout/layout.css";
@import "./Components/Home/Home.css";
@import "./Components/Home/AppHomePage.css";
@import "./Components/announcement/announcement.css";
@import "./Components/comment/comment.css";
@import "./Components/announcement/singleAnnouncement.css";
@import "./Components/Chat/ChatPage.css";
@import "./Components/assignement/assignement.css";

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
