@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.inbox_msg {
	/* border: 1px solid #ddd; */
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #B52B65;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
	outline: none;
	border: 1px solid #28a745;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_img {
	float: left;
	width: 5%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
	margin-top: 1%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #E5E5E5;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.incoming_msg_img img {
	width: 100%;
}

.outgoing_msg_img {
	display: inline-block;
	width: 6%;
}

.outgoing_msg_img img {
	width: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 100%;
}

.received_withd_msg p {
	background: #118ab2 none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #003049;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
	float: right;
}
.sender-name{
	color: #003049;
	display: block;
	font-size: 16px;
	margin: 0px 0px 2px 0px;
}

.received_withd_msg {
	width: 100%;
}

.mesgs{
	float: left;
	padding: 30px 15px 0 25px;
	width:100%;
}

.sent_msg p {
	background:#28a745;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
}

.sent_msg {
	float: right;
	width: 100%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-size: 16px;
	min-height: 48px;
	width: 100%;
	outline:none;
}
.input_msg_write input::placeholder{
	color:#ced4da;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #B52B65 none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 550px;
	overflow-y: auto;
}
.chat-inbox-people{
	margin-left: 10%;
	width: 80% !important;
	border: 2px solid rgba(39, 125, 161, 1) !important;
}
.show-files-msg{
	height:200px;
	width:200px;
	float: left;
}
.show-msg{
	height: 0px;
	width: 0px;
	float: left;
}

.user-dropdown{
	margin-top: 2%;
}

.btn-msg-submit{
	background-color: #4FC0E9; 
	border:1px solid #e5e5e5;
	display:inline-block;
	padding:10px 20px;
	color:#fff;
	font-weight:600;
	font-size:14px;
	border-radius:4px;
	transition:all .3s;
  }
  .btn-msg-submit:hover{
	border:1px solid transparent;
	background:#B52B65;
	color:#fff;
  }

.ChatPage .btn-chat {
    border-radius: 0.2;
    background-color: #fff!important;
    width: 20rem!important;
    border-color: #a3d0da!important;
    color:#666 !important;
    font-size: 18px;
    text-align: center;
}
.btn-chat:hover{
    color:#666 !important;
}
.chat-page-icon{
    height:60px;
    float: left;
}
.message-frame{
    height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(141, 153, 174, 1)),
    url('../../../images/kids_1.jpg');
}
.msg-tab{
    background-color: transparent;
}
.msg-form-card{
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,.6) 55%, rgba(206,212,218,.6) 100%);
}
.btn-reply{
	float: right;
	margin-top: -2%;
}
