.ChatPage .btn-chat {
    border-radius: 0.2;
    background-color: #fff!important;
    width: 20rem!important;
    border-color: #a3d0da!important;
    color:#666 !important;
    font-size: 18px;
    text-align: center;
}
.btn-chat:hover{
    color:#666 !important;
}
.chat-page-icon{
    height:60px;
    float: left;
}
.message-frame{
    height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(141, 153, 174, 1)),
    url('../../images/kids_1.jpg');
}
.msg-tab{
    background-color: transparent;
}
